<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huchen.dao.ICityDao">

    <!-- 修改对应城市的酒店数量 -->
    <update id="updateHoteLNumber">
        update city set hotal_number = hotal_number + #{number}
            where id = #{cid}
    </update>
</mapper>